<header>
	<div class="container">
		<!-- top header -->
		<div class="row top_header pt-3">
			<div class="col-lg-3 offset-lg-7 col-md-5 offset-md-3 col-sm-6 col-7 offset-sm-2 top-grid">
				<span class="fa ml-3 fa-envelope-open-o opev"></span>
				<p class=""> <a href="mailto:info@malarktranslogistics.com" class="myemail">info@malarktranslogistics.com</a> <span class="block">Contact Support</span> </p>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-5 top-grid pl-0">
				<span class="fa ml-3 fa-phone mobile"></span>
				<p class="digits"> +11 2345 6789 <span class="block2">24/7 Helpline</span> </p>
			</div>
		</div>
		<!-- top header -->
		<!-- nav -->
		<nav class="pt-2">
			<div id="logo">
				<h1> <a href="index.html"><img src="assets/images/am.jpeg" class="logo-image"> </a></h1>
			</div>
			<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				<li class="mr-lg-4 mr-2"><a href="/">Home</a></li>
				<li class="mr-lg-4 mr-2"><a href="/about-us">About Us</a></li>
				<li class="mr-lg-4 mr-2"><a href="/view-map">Track</a></li>
				<li class="mr-lg-4 mr-2"><a href="/services">Services</a></li>
				<li class="mr-lg-4 mr-2 active"><a href="/contact-us">Contact</a></li>
				<li class=""><a href="#subscribe">Subscribe</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
