h4.heading.mb-3.dare{
    line-height: 250px;
    font-size: 200px;
    text-transform: capitalize;
    color: rgba(50,50,50,0.2);
}
.stuffs{
    position: relative;
    top: 180px;
}
h3.challenge{
    position: relative;
    bottom: 150px;
    margin: 10px;
    line-height: 50px;
    white-space: pre;
    font-size: 50px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
}
.extensive{
    position: relative;
    bottom: 140px;
    font-weight: 600;
    color: rgba(255,255,255,0.9);
    left: 20px;
}

@media (max-width:780px){
h4.heading.mb-3.dare{
    font-size: 140px;
}
h3.challenge{
    position: relative;
    bottom: 150px;
    margin: 7px;
    line-height: 50px;
    white-space: pre;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}
.extensive{
    position: relative;
    left: 10px;
    letter-spacing: -0.2px;
}
.stuffs{
    position: relative;
    left: 32px;
    top: -140px;
}
div.row.stat-grids {
   height: 650px;
}
}
