<app-header></app-header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner" id="home">
        <div class="container">

        </div>
    </div>
    <!-- inner banner -->

    <!-- about -->
    <section class="about py-5" id="how">
        <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4"> About us </h2>
            <div class="row about-grids">
                <div class="col-lg-6 about-left">
                    <img src="assets/images/about.jpg" alt="" class="img-fluid"/>
                </div>
                <div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
                    <h3 class="my-lg-4 mb-2">Ship Anything Around the World</h3>
                    <p class="">Dificil Security Company keeps your business in motion and your cargo on track.
                        We offer dedicated transport, Dificil Security Companys and warehousing solutions in United States of America, Europe and across the world with customized personal service and guaranteed quality.</p>
                    <p class="mt-3">Privately owned since the founding in 1985 in Spain with branches in Germany, Finland, South America and China.
                        We are one of the leading transport and Dificil Security Companys companies specialized in the delivery of precious minerals.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->

    <!-- Team section -->
    <section class="team py-5" id="team">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-5 pb-md-5 pb-3"> Team Members</h3>
            <div class="section_header">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-60">
                        <div class="our-services-wrapper">
                            <div class="services-inner">
                                <div class="our-team-img">
                                    <img src="assets/images/manager.jpg" class="team_member img-fluid" alt="Team Member">
                                </div>
                                <div class="our-services-text team-info">
                                    <h3 class="team_name">Suzan Lois</h3>
                                    <span class="team_role">Agency Manager</span>
                                    <p class="mt-sm-3 mt-2"></p>
                                    <ul class="team-social mt-md-3 mt-2">
                                        <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-lg-0 mb-60">
                        <div class="our-services-wrapper">
                            <div class="services-inner">
                                <div class="our-team-img">
                                    <img src="assets/images/manager1.jpg" class="team_member img-fluid" alt="Team Member">
                                </div>
                                <div class="our-services-text team-info">
                                    <h3 class="team_name">Dora Caelan</h3>
                                    <span class="team_role">Chief Executive</span>
                                    <p class="mt-sm-3 mt-2"></p>
                                    <ul class="team-social mt-md-3 mt-2">
                                        <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="our-services-wrapper">
                            <div class="services-inner">
                                <div class="our-team-img">
                                    <img src="assets/images/executive.jpg" class="team_member img-fluid" alt="Team Member">
                                </div>
                                <div class="our-services-text team-info">
                                    <h3 class="team_name">Rose Alpha</h3>
                                    <span class="team_role">Chief Manager</span>
                                    <p class="mt-sm-3 mt-2"></p>
                                    <ul class="team-social mt-md-3 mt-2">
                                        <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //Team section -->

    <!-- stats -->
    <section class="stats py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row stat-grids">
                <div class="col-lg-5">
                    <h4 class="heading mb-3 growth">Our growth</h4>
                    <p class="history">Dificil Security Company's history has been characterised by far-reaching decisions and progressive thinking. It is a story of a dynamic, internationally oriented company with an unwavering appreciation of customer needs.</p>
                </div>
                <div class="col-lg-6 offset-lg-1 stats-right">
                    <div class="row stats-inner-grid">
                        <div class="col-sm-6 col-6">
                            <h4>950</h4>
                            <p>Satisfied <br>Clients</p>
                        </div>
                        <div class="col-sm-6 col-6">
                            <h4>250+</h4>
                            <p>Branches <br>Worldwide</p>
                        </div>
                    </div>
                    <div class="row stats-inner-grid mt-5">
                        <div class="col-sm-6 col-6">
                            <h4>350</h4>
                            <p>Shipments <br>Completed</p>
                        </div>
                        <div class="col-sm-6 col-6">
                            <h4>100%</h4>
                            <p>Safe <br>Shipping</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->


    <!-- testimonials -->
    <!-- <section class="clients py-5" id="clients">
        <div class="container py-lg-5 py-md-3">
        <h3 class="heading text-center mb-5"> Clients Testimonials</h3>
        <div class="main-clients">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1" />
                    <input type="radio" name="slides" id="slides_2" />
                    <input type="radio" name="slides" id="slides_3" />
                    <input type="radio" name="slides" id="slides_4" />
                    <ul class="banner_slide_bg">
                        <li>
                            <div class="feedback-top">
                                <p><span class="fa mr-2 fa-quote-left"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                                    sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.</p>
                                <div class="row client-info">
                                    <div class="col-6 pr-0">
                                        <img src="assets/images/manager.jpg" alt=" " class="img-fluid rounded-circle mt-4">
                                    </div>
                                    <div class="col-6 pl-0 text-left">
                                        <h4 class="mt-5">Mary Jane</h4>
                                        <p>Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feedback-top">
                                <p><span class="fa mr-2 fa-quote-left"></span>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                                    sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.</p>
                                <div class="row client-info">
                                    <div class="col-6 pr-0">
                                        <img src="assets/images/manager1.jpg" alt=" " class="img-fluid rounded-circle mt-4">
                                    </div>
                                    <div class="col-6 pl-0 text-left">
                                        <h4 class="mt-5">Steven Wison</h4>
                                        <p>Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feedback-top">
                                <p><span class="fa mr-2 fa-quote-left"></span>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                                    sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.</p>
                                <div class="row client-info">
                                    <div class="col-6 pr-0">
                                        <img src="assets/images/manager.jpg" alt=" " class="img-fluid rounded-circle mt-4">
                                    </div>
                                    <div class="col-6 pl-0 text-left">
                                        <h4 class="mt-5">Mary Jane</h4>
                                        <p>Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feedback-top">
                                <p><span class="fa mr-2 fa-quote-left"></span>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                                    sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.</p>
                                <div class="row client-info">
                                    <div class="col-6 pr-0">
                                        <img src="assets/images/executive.jpg" alt=" " class="img-fluid rounded-circle mt-4">
                                    </div>
                                    <div class="col-6 pl-0 text-left">
                                        <h4 class="mt-5">Mary Jane</h4>
                                        <p>Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="navigation">
                        <div>
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                            <label for="slides_4"></label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section> -->
    <!-- //testimonials -->

    <section class="clients py-5" id="clients">
        <div class="container py-lg-5 py-md-3">
        <h3 class="heading text-center mb-5 head-style">The  history  of  dynamic  and  progressive  thinking</h3>
        <div class="main-clients">
              <div class="class feedback-top">
                <p>Dificil Security Company's history has been characterised by far-reaching decisions and progressive thinking. It is a story of a dynamic, internationally oriented company with an unwavering appreciation of customer needs.</p>
              </div>

            </div>
            </div>
    </section>











<app-contact-number></app-contact-number>
    <!-- footer-top -->
    <!-- <section class="footer-top py-5">
        <div class="container">
            <div class="row footer-top-grid">
                <div class="col-sm-6">
                    <h3>Contact Us</h3>


                    <p>Call us, we are 24/7 Helpline</p>
                </div>
                <div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
                    <h3><span class="fa fa-phone" aria-hidden="true"></span> </h3>
                </div>
            </div>
        </div>
    </section> -->
    <!-- //footer-top -->

    <!--footer -->
    <app-footer></app-footer>
