<app-header></app-header>
<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">

	</div>
</div>
<!-- inner banner -->

<!-- contact -->
<section class="contact py-5 my-lg-5">
	<h2 class="heading text-center mb-sm-5 mb-4"> Tracking Information</h2>
	<div class="map container-fluid">
        <div id="map" class="mapstyle"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions">
    </div>
		<div class="main_grid_contact">
			<div class="form"  style="position: relative;
      top: 6px;">
				<h3 class="text-capitalize mb-2">Tracking Information</h3>
                   <div class="row">
					<div class="col-lg-12">
						<div class="stat">
							<span class="fa fa-home" aria-hidden="true" ng-model="gettracking"  [ngStyle]="gettracking==='On Hold'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;On hold</span>
							&nbsp;	&nbsp;<span class="fa fa-cogs" aria-hidden="true" [ngStyle]="gettracking==='Processing'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;Processing</span>&nbsp;&nbsp;
							<span class="fa fa-truck" aria-hidden="true"  [ngStyle]="gettracking==='In-transit'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;In-transit</span>&nbsp;&nbsp;
							<span class="fa fa-ship" aria-hidden="true"  [ngStyle]="gettracking==='Shipped'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;Shipped</span>
              <span class="fa fa-ship" aria-hidden="true"  [ngStyle]="gettracking==='Delivered'?{'color': '#00BCD4'}:{'color': '#817272'}" >&nbsp;&nbsp;Delivered</span>
						</div>


					<table class="table table-striped">
						<thead>
						  <tr>
							<th scope="col">Information</th>
							<th scope="col">Details</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">Current Location</th>
							<td>{{getlocation | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Final Destination</th>
							<td>{{getdestination | titlecase}}</td>

						  </tr>
						  <tr>
							<th scope="row">Order Date</th>
							<td>{{getdate}}</td>
						  </tr>
						  <tr>
							<th scope="row">Expected Date Of Delivery</th>
							<td>{{expectedDate | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Tracking Status</th>
							<td class="font-weight-bold">{{gettracking | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Remarks</th>
							<td>{{remarks | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Quantity</th>
							<td>{{quantity | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Description</th>
							<td>{{getdescription}}</td>
						  </tr>
						</tbody>
					  </table>

					<table class="table table-striped">
						<thead>
						  <tr style="background: #e0e7f9;">
							<th scope="col">Shipper's</th>
							<th scope="col">Information</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">Shipper Name</th>
							<td>{{ShipperName | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Shipper Address</th>
							<td>{{ShipperAddress | titlecase}}</td>

						  </tr>
						  <tr>
							<th scope="row">Shipper Phone</th>
							<td>{{ShipperPhone}}</td>
						  </tr>
						</tbody>
					  </table>


					  <table class="table table-striped">
						<thead>
						  <tr style="background: #e0e7f9;">
							<th scope="col">Receiver's</th>
							<th scope="col"> Information</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">Receiver Name</th>
							<td>{{RecieverName | titlecase}}</td>
						  </tr>
						  <tr>
							<th scope="row">Receiver Address</th>
							<td>{{ReceiverAddress | titlecase}}</td>

						  </tr>
						  <tr>
							<th scope="row">Receiver Phone</th>
							<td>{{ReceiverPhone}}</td>
						  </tr>
						</tbody>
					  </table>
                </div>
				</div>
			</div>
      <!-- <app-contact-information></app-contact-information> -->
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer-top -->
<!-- <section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span> </h3>
			</div>
		</div>
	</div>
</section> -->
<!-- //footer-top -->
<app-contact-number></app-contact-number>

<!--footer -->
<app-footer></app-footer>
