@media (max-width:768px) {

  // position: relative;
  // right: 20px;
  .w3ls-contact {
    height: 19em;
    margin: -35px;
    top: -21px;
    display: none;
  }
}


.contact-style {
  position: relative;
  bottom: 100px;
}
